@import "~bulma/sass/utilities/initial-variables";
// Config
$kaldi-red: #fd461e;
$kaldi-red-invert: #fff;
$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.navbar.is-transparent {
  display: none;
}

@import "~bulma";
//Index
@import url("https://fonts.googleapis.com/css?family=Roboto");
$color_main: #fbe400;
$color_darkmain: #e0cd00;
$color_secondary: #3d348b;
$color_darksecondary: #302972;
$color_black: #0d1f2d;
$color_white: #f6f4ed;
* {
  font-family: Roboto, san-serif;
  margin: 0;
  padding: 0;
}

.homepage {
  .content {
    margin-bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, $color_secondary, $color_main);
    z-index: 1;
    overflow: hidden;
    &__skew {
      -webkit-transform: skew(35deg);
      -moz-transform: skew(35deg);
      -o-transform: skew(35deg);
      background: $color_white;
      z-index: 2;
      width: 100%;
      height: 100vh;
      opacity: 1;
    }
    figure {
      overflow: hidden;
      z-index: -10;
      // margin: 0;
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        -webkit-transform: skew(-35deg);
        -moz-transform: skew(-35deg);
        -o-transform: skew(-35deg);
        opacity: 0.5;
        z-index: 1;
      }
    }
    &__header {
      width: 100%;
      margin: auto;
      height: 100vh;
      -webkit-transform: skew(-35deg);
      -moz-transform: skew(-35deg);
      -o-transform: skew(-35deg);
      text-align: center;
      color: $color_black;
      position: absolute;
      top: 0;
      z-index: 100;
      h1 {
        padding-top: 12%;
        margin-bottom: 0;
        img {
          width: 40%;
          max-width: 300px;
        }
      }
      p {
        font-size: 25px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
      }
      .main-button {
        display: inline-block;
        background: $color_secondary;
        padding: 15px 30px;
        border-radius: 20px;
        text-decoration: none;
        color: $color_white;
        transition-duration: 0.2s;
        z-index: 100;
        &:hover {
          transform: scale(1.1);
          background: $color_main;
          color: $color_black;
        }
      }
    }
  }
  .about {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, $color_secondary, $color_main);
    z-index: 1;
    overflow: hidden;
    &__skew {
      -webkit-transform: skew(-35deg);
      -moz-transform: skew(-35deg);
      -o-transform: skew(-35deg);
      background: $color_white;
      z-index: 2;
      width: 100%;
      height: 100vh;
    }
    figure {
      overflow: hidden;
      z-index: -10;
      // margin: 0;
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        -webkit-transform: skew(-35deg);
        -moz-transform: skew(-35deg);
        -o-transform: skew(-35deg);
        opacity: 0.5;
        z-index: 1;
      }
    }
    .about__header {
      width: 60%;
      height: 100vh;
      margin: auto;
      -webkit-transform: skew(35deg);
      -moz-transform: skew(35deg);
      -o-transform: skew(35deg);
      text-align: center;
      color: $color_black;
      z-index: 3;
      h2 {
        font-size: 35px;
        text-align: left;
        padding-bottom: 3%;
        padding-top: 20%;
        color: $color_secondary;
      }
      p {
        text-align: left;
        font-size: 20px;
        padding-bottom: 5%;
      }
    }
  }
}

.section {
  padding: 0;
}
.section {
  .container {
    margin: 0;
    padding: 0;
    width: initial;
    max-width: initial;
    .select-wrapper {
      height: 30vh;
      margin: auto;
      text-align: center;
      background: linear-gradient(to right, $color_secondary, $color_main);
      z-index: 1;
      overflow: hidden;
      .select-skew {
        height: 30vh;
        -webkit-transform: skew(45deg);
        -moz-transform: skew(45deg);
        -o-transform: skew(45deg);
        background: $color_white;
        figure {
          overflow: hidden;
          z-index: -10;
          // Switch between image and no image
          display: none;
          // margin: 0;
          img {
            width: 100%;
            height: 30vh;
            object-fit: cover;
            -webkit-transform: skew(-45deg);
            -moz-transform: skew(-45deg);
            -o-transform: skew(-45deg);
            opacity: 0.5;
            z-index: 1;
          }
        }
        .select-content {
          height: 30vh;
          -webkit-transform: skew(-45deg);
          -moz-transform: skew(-45deg);
          -o-transform: skew(-45deg);
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          z-index: 100;
          h1 {
            display: block;
            font-size: 30px;
            padding-top: 30px;
          }
          h2 {
            font-size: 25px;
          }
          .giftSelector {
            display: inline-block;
            height: 30px;
            width: 50%;
            margin: auto;
          }
        }
      }
    }
    .opportunities-gradient {
      background: linear-gradient(to right, $color_secondary, $color_main);
      .opportunities-wrapper {
        margin-left: 102px;
        padding: 15px 50px;
        background: white;
        h1 {
          font-size: 30px;
          color: $color_black;
          font-weight: bold;
          border-bottom: solid 2px $color_main;
          width: fit-content;
        }
        .content {
        }
        .opportunities {
          .title {
            font-size: 15px;
          }
          .content-body {
            padding-bottom: 25px;
          }
        }
        .logo {
          img {
            width: 100px;
          }
        }
      }
    }
  }
}
